.container {
  background-color: skyblue;
  height: 1250px;
}

.mapContainer {
  border: 2px solid white;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .container {
    display: block;
    align-items: start;
  }

  .mapContainer {
    height: 500px;
    width: 90vw;
    margin: 0 auto;
  }
}

@media (min-width: 701px) {
  .container {
    display: block;
  }

  .mapContainer {
    height: 500px;
    width: 90vw;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .container {
    display: flex;
    height: 907px;
  }

  .mapContainer {
    position: relative;
    width: 100vw;
    height: 903px;
  }
}