.container {
    height: 250px;
    background-color: lightcoral;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titleIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 { 
    color: white;
    margin: 0;
}

.link {
    font-size: xx-large;
    color: white;
}

span {
    color: white;
}