.infoWindow {
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
}

.infoHeader {
    margin: 4px auto;
  padding: 4px 40px;
  border-radius: 20px;
  border: 1px solid skyblue;
  background-color: lightgray;
}

.infoHeader div {
  display: flex;
  justify-content: space-between;
}

.listContainer {
  list-style-type: none;
  overflow: scroll;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.listContent {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.listContent div {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

@media (max-width: 700px) {
  .infoWindow {
    width: 90%;
    margin: 10px auto;
  }

  .infoHeader {
    width: 355px;
    margin-top: 13px;
  }

  .listContainer {
    padding: 0;
    width: 400px;
    height: 500px;
    margin: 10px auto;
  }

  .listContent {
    width: 355px;
    margin: 0 auto;
  }
}

@media (min-width: 701px) {
  .infoWindow {
    width: 752px;
    margin: 20px auto 0;
    padding: 8px;
  }

  .listContainer {
    width: 708px;
    height: 500px;
    margin: 10px auto;
  }

  .listContent {
    width: 668px;
  }
}

@media (min-width: 960px) {
  .infoWindow {
    width: 30vw;
    height: 886px;
    padding: 8px;
    margin: 0 8px 8px 8px;
  }

  .listContainer {
    padding-right: 30px;
    width: 260px;
    height: 695px;
  }

  .listContent {
    width: 262px;
  }
}
