.infoWindow {
  border-radius: 20px;
  border: 2px solid skyblue;
}

.infoHeader {
    margin: 4px auto;
  padding: 4px 40px;
  border-radius: 20px;
  border: 1px solid skyblue;
  background-color: lightgray;
}

.infoHeader div {
  display: flex;
  justify-content: space-between;
}

.listContainer {
  list-style-type: none;
  overflow: scroll;
  border-radius: 20px;
  border: 1px solid skyblue;
}

.listContent {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.listContent div {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

@media (max-width: 700px) {
  .infoWindow {
    width: 90%;
    margin: 10px auto;
  }

  .infoHeader {
    width: 400px;
    margin-top: 13px;
  }

  .listContainer {
    width: 444px;
    height: 500px;
    margin: 10px auto;
  }

  .listContent {
    width: 405px;
  }
}

@media (min-width: 701px) {
  .infoWindow {
    width: 752px;
    margin: 20px auto;
    padding: 8px;
  }

  .listContainer {
    width: 708px;
    height: 500px;
    margin: 10px auto;
  }

  .listContent {
    width: 668px;
  }
}

@media (min-width: 960px) {
  .infoWindow {
    width: 30vw;
    height: 818px;
    padding: 8px;
    margin: 8px;
  }

  .listContainer {
    padding-right: 30px;
    width: 270px;
    height: 630px;
  }

  .listContent {
    width: 262px;
  }

  .listContent div {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
}
